body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #470158;
  color: white;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #944a05;
  padding: 20px;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

.reset {
  padding: 10px 15px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.reset:focus {
  color: blueviolet;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.item {
  background-color: #f1f1f1;
  aspect-ratio: 1; /* Mantém o quadrado perfeito */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: transform 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .game {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas no celular */
    gap: 8px;
  }

  .item {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .reset {
    font-size: 1em;
  }
}
